body{
    font-family: Arial;
    text-align: center;
    background: rgb(0, 0, 0);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    padding: 5px;
    margin: 5px;
    width: 500px;
    background: rgb(128, 128, 128);
    border: white 5px solid;
    border-radius: 50px;
}

.isCompleted{
    border: gold 5px solid;
}