body{
    font-family: Arial;
    text-align: center;
    background: rgb(0, 0, 0);
}

main{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    padding: 5px;
    margin: 5px;
    width: 500px;
    background: rgb(128, 128, 128);
    border: white 5px solid;
    border-radius: 50px;
}

.isCompleted{
    border: gold 5px solid;
}

.searchBar{
    display: flex;
    width: 250px;
    height: 30px;
    position: fixed;
    margin-top: -40px;
    margin-left: 300px;
    gap: 5px;
}

#limit{
    width: 50px;
}